.forecast .updated-at {
    display: none;
}

.list-nomargin ul {
    margin-left: 3px;
    margin-right: 3px;
}
.list-nomargin.widget {
    padding-left: 3px;
    padding-right: 3px;
}

.dashboard-piste h1 {
}

.dashboard-piste .widget-clock.big h2 {
	font-size: 120px;
}

.dashboard-piste .widget-countdown h1 {
	font-size: 4em;
}	
.dashboard-piste .widget-countdown h1 {
	font-size: 8.5em;
}


