.team-bg-color-1 { background-color: #DA1515 !important; }
.team-color-1 { color: #DA1515 !important; }
.team-color-grad-1 { background-image: linear-gradient(to left, #DA1515, rgba(255, 255, 255, 0) 30%); }
.team-bg-color-2 { background-color: #f0e802 !important; }
.team-color-2 { color: #f0e802 !important; }
.team-color-grad-2 { background-image: linear-gradient(to left, #f0e802, rgba(255, 255, 255, 0) 30%); }
.team-bg-color-3 { background-color: #DA8715 !important; }
.team-color-3 { color: #DA8715 !important; }
.team-color-grad-3 { background-image: linear-gradient(to left, #DA8715, rgba(255, 255, 255, 0) 30%); }
.team-bg-color-4 { background-color: #7517b7 !important; }
.team-color-4 { color: #7517b7 !important; }
.team-color-grad-4 { background-image: linear-gradient(to left, #7517b7, rgba(255, 255, 255, 0) 30%); }
.team-bg-color-5 { background-color: #1586DA !important; }
.team-color-5 { color: #1586DA !important; }
.team-color-grad-5 { background-image: linear-gradient(to left, #1586DA, rgba(255, 255, 255, 0) 30%); }